<p-card class="mb-2">
  <h3>Kísérlet keresése</h3>
  <small>Adja meg a keresni kívánt kísérlet azonosítóját!</small>

  <div class="input-group mb-3 mt-3">
    <div class="input-group-prepend">
      <button type="button" (click)="searchExperiment()" class="btn btn-outline-primary">Keresés</button>
    </div>
    <input type="text" class="form-control" aria-label="Default" [(ngModel)]="searchedExperimentName"
      aria-describedby="inputGroup-sizing-default">
  </div>
</p-card>

<p-card styleClass="mt-2" *ngIf="measurementTypes.length > 0">
  <div class="float-right">
    <button class="btn btn-sm mb-2 btn-success" (click)="createMeasurementGroup()">Új méréscsoport</button>
  </div>
  <p-tabMenu #tabMenu [model]="tabs" [activeItem]="tabs[0]" (click)="switchTab(tabMenu)" styleClass="mb-2"></p-tabMenu>

  <form [formGroup]="measurementForm">
    <div class="form-row">
      <div class="form-group col-md-2">
        <h4>Méréstípusok</h4>
        <p-listbox styleClass="w-100" [options]="filteredMeasurementTypes" formControlName="selectedMeasurementType">
        </p-listbox>
      </div>

      <div class="form-group col-md-10">
        <h4>Adatok</h4>
        <p-table [value]="selectedMeasurementType.measurementData.data">
          <ng-template pTemplate="header">
            <tr>
              <th *ngFor="let col of measurementColumns">
                {{col.header}}
              </th>
              <th>Műveletek</th>
            </tr>
            <tr>
              <td *ngFor="let col of measurementColumns" formGroupName="newMeasurementData">
                <input class="form-control form-control-sm" type="text" [placeholder]="col.header"
                  [formControlName]="col.field">
              </td>
              <td>
                <button class="btn btn-sm btn-success ml-2" (click)="addMeasurementData()">Hozzáad</button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-measurementData let-rowIndex="rowIndex">
            <tr>
              <td *ngFor="let col of measurementColumns">
                {{measurementData[col.field]}}
              </td>
              <td>
                <button class="btn btn-sm btn-danger ml-2" (click)="deleteRow(rowIndex)">Töröl</button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-10 offset-md-2">
        <h4>Fájlok</h4>
        <div class="d-flex align-items-center ml-2">
          <p-fileUpload #fileUpload fileLimit="1" mode="basic" [auto]="true" chooseLabel="Új hozzáadása"
            customUpload="true" (uploadHandler)="uploadNewFile($event)" [disabled]="fileUploadInProgress">
          </p-fileUpload>
          <div class="ml-2" *ngIf="fileUploadInProgress">
            <i class="pi pi-spin pi-spinner"></i> Feltöltés folyamatban ...
          </div>
        </div>

        <ul class="list-group">
          <div *ngFor="let file of selectedMeasurementType.files; let i = index" class="mt-1">
            <li class="list-group-item">
              <a (click)="downloadFile(i)">{{file.name}}</a>
              <button class="btn btn-sm btn-danger float-right" (click)="deleteFile(i)">Töröl</button>
            </li>
          </div>
        </ul>
      </div>
    </div>
  </form>
</p-card>