<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <p-card class="mb-2">
        <h3>Mérés keresése</h3>
      
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Keresés</span>
            </div>
            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
          </div>
          <button type="button" class="btn btn-outline-primary">Keresés</button>
          <button type="button" class="btn btn-outline-primary" (click)="searchClick()">Létrehozás</button>
      </p-card>
    </div>
  </div>
<div class="row">
  <div class="col-md-12">
    <p-card *ngIf="showResult">
      <div class="form-inline">
       <div class="col-4"><button type="button" class="btn btn-light" (click)="strengthClick()">nyomószilárdság</button></div>
       <div class="col-4"><button type="button" class="btn btn-light" (click)="densityClick()">testsűrűség</button></div>
       <div class="col-4"><button type="button" class="btn btn-light" (click)="strength2Click()">nyomószilárdság(nem akkreditált vizsgálatokhoz)</button></div>
      </div>
    </p-card>
  </div>
</div>



  <div class="row mt-2">
    <div class="col-md-12">
        <p-card *ngIf="showDensity">
          <form [formGroup]="profileForm">
            <div formArrayName="mes">
              <button type="button" class="btn btn-outline-primary" (click)="addItem()">Hozzáadás</button>
              <div><br /> </div>
              <div *ngFor="let mes of mes.controls; let i=index" [formGroupName]="i">
                <label>
                  sorszám:
                  <input type="number" class="form-control" formControlName="serial">
                  azonosító jel:
                  <input type="text" class="form-control" formControlName="id">
                  tömeg:
                  <input type="number" class="form-control" formControlName="weight">
                  nyomott felület:
                  <input type="number" class="form-control" formControlName="surface1">
                  <input type="number" class="form-control" formControlName="surface2">
                  magasság:
                  <input type="number" class="form-control" formControlName="height">
                  testsűrűség:
                  <input type="number" class="form-control" formControlName="density">
                  törőerő:
                  <input type="number" class="form-control" formControlName="force">
                  nyomószilárdság:
                  <input type="number" class="form-control" formControlName="strength">
                  <br/>
                  <button class="btn btn-outline-danger" (click)="onItemDeleted(i)">Törlés</button>
                </label>
              </div>
              <br />
              <div>
                <button type="submit" class="btn btn-outline-primary">Létrehoz</button>
              </div>
            </div>
          </form>
        </p-card>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p-card *ngIf="showStrength">
        </p-card>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <p-card *ngIf="showStrength2">
        </p-card>
    </div>
  </div>