<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <p-card class="mb-2">
        <h3>Kísérlet keresése</h3>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Keresés</span>
          </div>
          <input type="text" class="form-control" aria-label="Default" [(ngModel)]="searchedExperimentId"
            aria-describedby="inputGroup-sizing-default">
        </div>
        <button type="button" (click)="searchExperiment()" class="btn btn-outline-primary">Keresés</button>
      </p-card>
    </div>

    <p-card>
      <div class="row">
        <form [formGroup]="measurementForm">
          <div class="col-md-4">
            <p-listbox [options]="measurementType" formControlName="selectedMeasurementType"></p-listbox>
          </div>
          <div class="col-md-8">
            <p-table [value]="selectedMeasurementType.measurementData.data">
              <ng-template pTemplate="header">
                <tr>
                  <th>
                    Műveletek
                  </th>
                  <th *ngFor="let col of measurementColumns" >
                    {{col.header}}
                  </th>
                </tr>
                <tr>
                  <td>
                   <button class="btn btn-success" (click)="addMeasurementData()">Hozzáad</button>
                  </td>
                  <td *ngFor="let col of measurementColumns" formGroupName="newMeasurementData">
                    <input class="form-control" type="text" [placeholder]="col.header" [formControlName]="col.field">
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-measurementData>
                <tr>
                  <td>
                    +
                  </td>
                  <td *ngFor="let col of measurementColumns">
                    {{measurementData[col.field]}}
                  </td>
                </tr>
              </ng-template>
            </p-table>

            <button class="btn btn-success" (click)='saveMeasurement()'>Mentés</button>
          </div>
        </form>
      </div>
    </p-card>
  </div>