<div class="jumbotron d-flex align-items-center h-100">
    <p-card class="container d-flex h-100 login-card">

      <ngb-carousel *ngIf="carousel.images" [interval]="carousel.speed"
        [showNavigationArrows]="false" [showNavigationIndicators]="false">
        <ng-template ngbSlide *ngFor="let image of carousel.images" class="p-0">
          <img [src]="image" alt="Concrete Database">
        </ng-template>
      </ngb-carousel>

      <div class="d-flex justify-content-center align-items-center">
        <h3>Beton Téka</h3>
        <h4 class="align-self-center">Concrete Database for Civil Engineers</h4>
      </div>

      <div class="row mr-2 ml-2">
        <div class="col-md-4 offset-md-4">
          <hr />
          <div *ngIf="!loginSuccess" class="alert alert-danger">
            You have entered an invalid username or password.
          </div>

          <form (ngSubmit)="onSubmit()">

            <div class="form-group">
              <div class="input-group-prepend">
                <span class="input-group-text border-right-0"><i
                    class="pi pi-user text-success align-middle"></i></span>
                <input type="text" id="username" name="username" class="form-control" required [(ngModel)]="user.name"
                  #username="ngModel">
              </div>
              <div *ngIf="username.invalid && (username.dirty || username.touched)" class="text-danger">
                <small *ngIf="username['errors']['required']">Name is required.</small>
              </div>
            </div>

            <div class="form-group mb-3">
              <div class="input-group-prepend">
                  <span class="input-group-text border-right-0"><i
                    class="pi pi-key text-success align-middle"></i></span>
                <input type="password" id="password" name="password" class="form-control" required
                  [(ngModel)]="user.password" #password="ngModel">
              </div>
              <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
                <small *ngIf="password['errors']['required']">Password is required.</small>
              </div>
            </div>

            <div class="form-group">
              <button id="login-btn" type="submit" [attr.disabled]="!username.valid" class="btn btn-outline-primary col-12">Login</button>
            </div>
          </form>

        </div>
      </div>
    </p-card>
</div>