<p-card>
  <h3>Beton keresése</h3>
  <small>Adja meg a keresni kívánt beton nevét!</small>
  <!-- search items from the backend-->
  <div class="input-group mt-2">
    <div class="input-group-prepend">
      <button type="button" (click)="search()" class="btn btn-outline-primary">Keresés</button>
    </div>
    <input type="text" class="form-control" [(ngModel)]="searchName" (keydown.enter)="search()">
  </div>
</p-card>

<!-- search results table -->
<p-card *ngIf="concretes.length" styleClass="mt-2">
  <p-table [value]="concretes" [columns]="headColumns" selectionMode="single" (onRowSelect)="onConcreteSelect($event)"
    [paginator]="true" [rows]="5">
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of headColumns">
          {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="headColumns">
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of headColumns">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>

<!-- conctrete details (name-values) table -->
<p-card *ngIf="selectedConcrete" styleClass="mt-2">
  <form [formGroup]="nameValueForm">
    <p-table [value]="selectedConcrete.properties" editMode="row">
      <ng-template pTemplate="header" let-i="rowIndex">
        <tr>
          <th *ngFor="let col of propertiesColumns">
            {{col.header}}
          </th>
          <th style="text-align:center">Műveletek</th>
        </tr>
        <tr>
          <td *ngFor="let col of propertiesColumns; let i = index;">
            <input id="{{'input_' + col.header}}"class="form-control form-control-sm" type="text" [placeholder]="col.header"
            [formControlName]="col.field">
          </td>
          <td style="text-align:center">
            <button id="concreteDetailsAdd" type="button" class="btn btn-sm btn-success ml-2" (click)="addConcreteData()" [disabled]="!nameValueForm.valid">Hozzáad</button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-concreteData let-editing="editing" let-rowIndex="rowIndex">
        <tr [pEditableRow]="concreteData">
          <td *ngFor="let col of propertiesColumns; let i = index;">
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" class="form-control form-control-sm">
              </ng-template>
              <ng-template pTemplate="output">
                {{concreteData[col.field]}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td style="text-align:center">
            <button *ngIf="!editing" pInitEditableRow class="btn btn-sm btn-success ml-2">Módosít</button>
            <button *ngIf="editing" pSaveEditableRow pButton type="button" pSaveEditableRow
              class="btn btn-sm btn-success ml-2">Elment</button>
            <button *ngIf="editing" pCancelEditableRow pButton type="button" pCancelEditableRow
              class="btn btn-sm btn-danger ml-2">Mégsem</button>
            <button id="{{'deleteButton_' + rowIndex}}"*ngIf="!editing" class="btn btn-sm btn-danger ml-2" (click)="deleteRow(rowIndex)">Töröl</button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </form>
</p-card>