<div class="modal-header">
  <h4 class="modal-title" *ngIf="!isNewConcrete && readOnly">Beton adatlap</h4>
  <h4 class="modal-title" *ngIf="!isNewConcrete && !readOnly">Beton módosítás</h4>
  <h4 class="modal-title" *ngIf="isNewConcrete && !readOnly">Beton hozzáadás</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <label for="label">Név:</label>
  <p-autoComplete [(ngModel)]="concrete.label" [style]="{'width' : '95%', 'margin-left': '0.7rem'}" [inputStyle]="{'width': '100%'}" type="text" id="label" class="row" #ctrl="ngModel" [suggestions]="suggestedConcreteNames" (completeMethod)="filterNamesMultiple($event)" [disabled]="readOnly"></p-autoComplete>

  <label for="description">Leírás:</label>
  <input [(ngModel)]="concrete.description" type="text" id="description" class="form-control" #ctrl="ngModel" [disabled]="readOnly" required>
  
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-success" *ngIf="!isNewConcrete && !readOnly" (click)="editConcrete()">Ok</button>
  <button type="button" class="btn btn-outline-success" *ngIf="isNewConcrete && !readOnly" (click)="assignConcrete()">Ok</button>
  <button type="button" class="btn btn-outline-dark" (click)="closeModal()">Mégse</button>
</div>
