<p-card>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10">
        <p-tree
            [value]="concreteTree"
            [(selection)]="selectedNode"
            [loading]="loading"
            draggableNodes="true"
            droppableNodes="true"
            selectionMode="single"
            styleClass="w-100"
            (onNodeExpand)="loadConcretes($event)">
        </p-tree>
      </div>
      <div class="col-md-2">
        <div class="controls" *ngIf="selectedNode && selectedNode['isConcrete']">
          <h5 class="text-center">Beton</h5>
          <hr>
          <button type="button" class="btn btn-primary">Adatlap</button>
          <button type="button" class="btn btn-warning" (click)="editSelectedConcrete()">Beton módosítás</button>
          <button type="button" class="btn btn-danger" (click)="deleteSelectedConcrete()">Beton törlés</button>
        </div>
        <div class="controls" *ngIf="selectedNode && !selectedNode['isConcrete']">
          <h5 class="text-center">Kategória</h5>
          <hr>
          <button type="button" class="btn btn-primary" (click)="createNewCategory()">Új alkategória</button>
          <button type="button" class="btn btn-primary">Új beton</button>
          <button type="button" class="btn btn-warning" (click)="editSelectedCategory()">Kategória módosítás</button>

          <div class="row ml-1 mt-2 mb-2">
            <p-inputSwitch styleClass="align-middle" 
              [(ngModel)]="selectedNode['droppable']" (onChange)="switchDroppable($event)"></p-inputSwitch>
            <span class="align-middle ml-1">Bővíthető</span><!-- droppable -->
          </div>

          <button type="button" class="btn btn-danger" (click)="deleteSelectedCategory()">Kategória törlés</button>
        </div>
      </div>
    </div>
  </div>
</p-card>
